@{
        ViewData["Title"] = "Delete Movie";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Сторінка для видалення фільму</h1>
    <p>Ви впевнені, що хочете видалити цей фільм?</p>
    <p>Пока не готово потрібно доробити</p>
    
</div>
</body>
</html>